[Unit]
Description = DevBot
After = network.target

[Service]
Type=simple
User=centos
Restart=on-failure
WorkingDirectory=/home/centos/dev-bot/
ExecStart=/usr/bin/npm start

[Install]
WantedBy = multi-user.target
